<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Sofía Gómez | Business engineer </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/me.jpeg" alt="Sofía Gómez" class="profile-pic nav-link" />
              <span class="caption nav-link">Sofía Gómez</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCV47bfrXUjyiP_0boMkOgMw" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/sofigomez_31dc/" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100045416684568" target="_blank" class="nav-link">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Sofía Gómez</h2>
          <h3>{Business engineer}</h3>
          <p>Finance, Data Analysis, Programming, Excel VBA, 
             Data Base management, Process evaluation and improvement</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/me.jpeg" alt="Sofia Gomez" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 👋🏽</h2>
          <p>
            My name is Sofia Denice Gomez Calderon, I'm a business engineer graduaded from ESEN.
            I was born on march 31th 2001, Santa Ana, El Salvador. Throughout my life i've had the
            opportunity to develop several areas of knowledge, not only academically speaking, but 
            different activities that gave me an integral education.
          </p>
          <p>
            I have always considered myself a leader and at ESEN i had the privilige to be part of 
            leadership center by being a Staff. I was also part of the basketball team and sports have
            always been one of my favorite hobbies.This helped me develop several soft kills, by learning 
            how to work with a team and lead in a professional environment. I speak three languages: spanish,
            english and basic french, I love to read, to cook and to learn new things that are quite essential
            to become a successful person not just on a professional level but a personal one. 
            Reason why I’ve always tried to learn new things every time I get the opportunity to do so 
            and why I’ve been to many courses where I’ve learned a diversity of things.
          </p>
          <p>
            My career gives me the understanding of how the business world works ad macro level, 
            combined with how organisms function at a micro level, that can architecture solutions based on several key elements.
            Some of the key elements comprising business engineering require a deep understanding of several disciplines and areas:
            Business model, Business processes, Organizational structure, Digitalization, Information process and technologies, 
            The interaction between people and technologies within organizations,etc. I'm someone that can help improve and define
            the best way of doing things throughout the company using the power of analysis, technical skills, and business acumen.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>BUSINESS MODELS & DIGITALIZATION</h2>
          <p>
            I will help you improve your business with innovative business models 
            to sense remarkable changes in your income and brand with creative designs
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>BPM & Information process and technologies</h2>
            <p>
              Business process management to identify opportunities, as well as flaws, 
              to improve and optimize costs 
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Organizational structure</h2>
            <p>
              Retrieve, integrate, visualize and present critical data in a format 
              that is immediately useful to improve the business decision-making process
            </p>
          </div>
          <div class="tier-item">
           <i class="fa fa-file-code-o" aria-hidden="true"></i>
            <h2>The interaction between people and technologies within organizations</h2>
            <p>
              Partner with operations/business teams to consult, develop and implement KPI’s, 
              automated reporting/process solutions and data infrastructure improvements 
              to meet business needs
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>these are some of my recent projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/fit.jpg" />
        </div>
        <div class="project-description">
          <h2>Python Project: Myfitapp</h2>
          <p>
            This is a Pyhton developed project based on an app concept with the 
            purpose of helping people out with their routines so they become healthy
            and fit. From different options to exercise, nutrition recommendations and 
            a personalized experience, to even getting the chance to costumize your meals
            and goals; this app presents itself with great potential to be every costumer's
            best fit pal with a great variety of features related to this area.   
          </p>
          <a href="https://github.com/sofiadenice/Entrega-Final---Proyecto-Python-.git" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Amazon BPM analysis</h2>
          <p>
            This is a very elaborate, but concise project where it is explained
            how does Amazon function in all of its levels, to identify new
            business techniques mainly focusing on the changes that the company
            had to experience due to COVID-19. Also presenting great detail in its 
            design, develop and maintain scaled, automated, user-friendly systems,
            reports, dashboards, etc. that offer a complete experience about the
            strategy that Amazon works with. 
          </p>
          <a href="https://github.com/sofiadenice" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> To know more, please contact me</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/amazon.jpg" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/hospital.png" />
        </div>
        <div class="project-description">
          <h2>DB Hospital Project</h2>
          <p>
            This is a Hospital Database project. This project it's mainly an example
            of how to work with data and manage it in the form of a hospital system 
            and the way it operates, including java language and html.
          </p>
          <a href="https://github.com/sofiadenice/Entrega-Final-BD.git" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        I'd be honored if you reached out to me. Even if it's just to say "Hey!".
        Don't hesitate! Drop me a line and I’ll get back to you ASAP!
      </p>
      <p>
        <i>For gig and advertising opportunities, begin your subject with
          <strong>"Gig"</strong></i>
      </p>
      <div class="container">
        <p>
          <a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe"><i class="fas fa-envelope-open"></i> 10soffygo@gmail.com</a>
        </p>
        <p>
          <a href="https://www.youtube.com/channel/UCV47bfrXUjyiP_0boMkOgMw" target="_blank"><i class="fab fa-youtube"> YouTube</i></a>
        </p>
        <p>
          <a href="https://www.instagram.com/sofigomez_31dc/" target="_blank"><i class="fab fa-instagram"> Instagram</i></a>
        </p>
        <p>
          <a href="https://www.facebook.com/profile.php?id=100045416684568" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Sofia Gomez &copy; 2021
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://www.youtube.com/channel/UCV47bfrXUjyiP_0boMkOgMw" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/sofigomez_31dc/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100045416684568" target="_blank"><i class="fab fa-facebook"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>